<div class="interactive-map team-colours">
    {% set leagues = craft.app.fields.getFieldByHandle('league').options %}

    <form id="select-leagues">
        <div class="row">
        {% for option in leagues %}
            {% if option.value != '' %}
                <div class="col-md-6">
                    <label class="form-control d-flex align-items-center">
                        <input type="checkbox" name="{{ option.value }}" id="{{ option.value }}" checked />{{ option.label }}
                    </label>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </form>

    <div class="map-all py-5">
        {% include "_svg/maps/england-and-wales.svg" %}
    </div>

    <div class="map-region" id="map-region" style="display: none;">
        <div class="d-flex justify-content-between align-items-center">
            <p class="mb-0" id="region-heading"></p>
            <a class="btn btn-sm btn-primary show-all">Show full map</a>
        </div>
        
        {% set regions = craft.categories.group('regions').all() %}

        <div class="position-relative">
            {% for region in regions %}
                <div class="region-pins {{ region.slug }}" data-id="{{ region.slug }}" style="display: none;">
                    {% set stadiums = craft.entries.section('stadiums').relatedTo(region).with(['teamColour', 'badge']).all() %}

                    {% for pin in stadiums %}
                        {% set locationX = pin.left %}
                        {% set locationY = pin.top %}
                        {% set colour = pin.teamColour[0].slug %}
                        {% set league = pin.league %}

                        {% if colour == "white" %}
                            {% set colour = "black" %}
                        {% endif %}

                        <div class="stadium-details {{ league|kebab }} team-{{ colour }}">
                            <a class="stadium-pin" style="left:{{ locationX }}% ; top:{{ locationY }}%;" id="pin-{{ pin.id }}" title="View {{ pin.title }}"></a>
                        
                            <div class="stadium-modal pin-{{ pin.id }}">
                                <div class="d-flex flex-row">
                                    <div class="stadium-info mb-3 me-auto">
                                        <p class="h4 mb-3">{{ pin.team }}</p>
                                        <p class="mb-0"><strong>Stadium:</strong> {{ pin.title }}</p>
                                        <p class="mb-0"><strong>Capacity:</strong> {{ pin.capacity|number_format }}</p>
                                        {% if pin.opened is defined and pin.opened != '' %}
                                            <p class="mb-0"><strong>Opened:</strong> {{ pin.opened }}</p>
                                        {% endif %}
                                        {% if pin.closing is defined and pin.closing != '' %}
                                            <p class="mb-0"><strong>Closing:</strong> {{ pin.closing }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="team-logo ms-5">
                                        <img src="{{ pin.badge[0].getUrl('clubCrest') ?? '' }}" class="img-fluid">
                                    </div>
                                </div>
                                <div class="d-flex flex-row justify-content-between">
                                    {% set googleMapsTitle = "https://www.google.com/maps?saddr=My+Location&daddr=" ~ pin.title|lower|replace(" ","+") %}
                                    {% set googleMapsLink = pin.googleMaps ?? googleMapsTitle ?? null %}

                                    <a class="btn btn-{{ colour }}" href="{{ pin.url }}">View info</a>
                                    <a class="btn btn-outline-{{ colour }}" href="{{ googleMapsLink }}">Get directions</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            
            <img src="/" class="map-image img-fluid py-5 w-100 h-100">

            {% for region in regions %}
                <div class="region-teams mt-2 mb-5 {{ region.slug }}" data-id="{{ region.slug }}" style="display: none;">
                    {% set stadiums = craft.entries.section('stadiums').relatedTo(region).with(['teamColour', 'badge']).orderby("team ASC") %}

                    <p class="mb-5">Teams in this region:</p>

                    <div class="grid team-list" style="gap: 20px">
                        {% for team in stadiums %}
                            {% set colour = team.teamColour[0].slug %}
                            {% set league = team.league %}

                            <div class="team-card {{ league|kebab }} team-{{ team.id }} team-{{ colour }} bg-white position-relative d-flex">
                                <div class="d-flex flex-row w-100">
                                    <div class="team-info p-4 w-100 d-flex align-items-center">
                                        <div class="text">
                                            <a class="stretched-link h5 mb-0" id="pin-{{ team.id }}" href="#region-map">{{ team.team }}</a>
                                            <p class="mb-0">{{ team.title }}</p>
                                        </div>
                                    </div>
                                    <div class="team-logo p-3 my-auto">
                                        <img src="{{ team.badge[0].getUrl('clubCrest') ?? '' }}" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="labelled-switch d-flex flex-row align-items-center mb-3 toggle-colours">
        <p class="mb-0">Team colours</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <p class="mb-0">League colours</p>
    </div>

    <div class="labelled-switch d-flex flex-row align-items-center toggle-accessibility">
        <p class="mb-0">Accessibility mode off</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <p class="mb-0">Accessibility mode on</p>
    </div>
</div>